body {
  background-color: #FFF8F3;
}

hr {
  height: 2px;
  background-color: blue;
  border-style: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  grid-template-rows: repeat(2, 125px);
  height: 250px;
  width: 33%;
  gap: 10px;
  grid-template-areas:
    "a b c"
    "d e f";
}

.item1 {
  grid-area: a;
  margin-left: auto;
}

.item2 {
  grid-area: b;
}

.item3 {
  grid-area: c;
}

.item4 {
  grid-area: d;
}

.item5 {
  grid-area: e;
}

.item6 {
  grid-area: f;
}
